html { 
  /* html要素のフォントサイズを「62.5%」にすると、全要素で1rem = 10px 1.6rem = 16px と切りよくremとpxが連動する */
  font-size: 62.5%; 
} 
body{
  font-size: 1.6rem;
  background-color: white;
  color: black;
  padding: 0rem;
  margin: 0rem;
}
.sampleColor{
  width: 15.0rem;
  height: 15rem;
/*  border: 1px solid black;*/
  text-align: center;
  vertical-align:  middle;
  display: inline-block;
  padding: 0.5rem;
  margin: 1rem;
}
.colorInput{
  width: 22.0rem;
  height: 15rem;
/*  border: 1px solid black;*/
  display: inline-block;
  vertical-align:middle;
  margin: 1rem;
  padding: 0.5rem;
}
.colorMid{
  display:none;
/*  display:block;*/
  vertical-align:middle;
}
.colorInputNumber{
	width:4rem;
	height:2.5rem;
	padding: 0.3rem;
	margin: 0.1rem;
	margin-top: 0.5rem;
/*	margin-left: 1rem;*/
	border: 0px solid black;
	border-left: 0.4rem double black;
	background-color: #F0F0F0;
}
.transTypeChoice{
	width:10rem;
	padding: 0.3rem;
	margin: 0.1rem;
	margin-top: 0.5rem;
/*	margin-left: 1rem;*/
	border: 1px dotted black;
  	display: inline-block;
  	vertical-align:middle;
/*	background-color: #F0F0F0;*/
}
li {
	list-style: none;
}
label{
	width: 9.3rem;
	height: 2.5rem;
/*	border: 1px solid black;*/
   float: left;
	margin-top: 0.5rem;

}
/* style="display: inline-block;width: 100px;height: 100;border: 1px solid black;" */
/* <p id="outKsample" style="display: inline-block;width: 100px;height: 100;border: 1px solid black;"> */
/* <p style="display: inline-block;"> */
